{{define "base"}}
<!DOCTYPE html>
<html>
<head>
    {{template "title" .}}
    <link href="/tailwind_output.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c38f071398.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="icon" href="light-favicon.png" id="light-scheme-icon">
    <link rel="icon" href="dark-favicon.png" id="dark-scheme-icon">
    
    <script>
        let lightSchemeIcon = document.querySelector('link#light-scheme-icon');
        let darkSchemeIcon = document.querySelector('link#dark-scheme-icon');

        let matcher = window.matchMedia('(prefers-color-scheme: dark)');
        matcher.addListener(onUpdate);
        onUpdate();

        function onUpdate(){
            if (matcher.matches){
                lightSchemeIcon.remove();
                document.head.append(darkSchemeIcon);
            } else{
                document.head.append(lightSchemeIcon);
                darkSchemeIcon.remove();
            }
        }
    </script>
</head>

<body class="bg-slate-100 dark:bg-slate-900">
    <div class="w-3/4 mx-auto">
        <div>
            {{template "content" . }}
        </div>
    </div>
</body>
</html>
{{end}}
