{{define "topbar"}}
<div class="flex items-center justify-center">
    <nav
        class="flex flex-row w-3/4 items-center flex-wrap py-4 lg:px-12 justify-between">
        <div class="flex justify-between lg:w-auto w-full pl-6 pr-2 pb-5 lg:pb-0">
            <div class="flex items-center flex-shrink-0 text-gray-800 mr-16">
                <a href="/" class="flex flex-col items-start flex-1 w-full text-amber-700">
                    <div class="cursor-pointer flex flex-row justify-center items-center space-x-5 px-3 py-1 transition duration-200 hover:bg-amber-700 dark:text-white hover:text-white dark:hover:bg-sky-700 rounded-lg">
                        <span class="font-semibold text-xl tracking-tight dark:text-gray-50">Yapper</span>
                    </div>
                </a>
            </div>
            <div class="block lg:hidden ">
                <button
                    id="nav"
                    class="flex items-center px-3 py-2 border-2 rounded text-blue-700 border-blue-700 hover:text-blue-700 hover:border-blue-700">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="menu w-full justify-center lg:flex lg:items-center lg:w-auto lg:px-3 px-8">
            <div class="relative shrink-0 w-96 text-gray-600 dark:text-gray-50 lg:block hidden">
                <input
                class="block border-2 w-full bg-white dark:bg-gray-700 h-10 rounded-lg text-sm focus:outline-none focus:border-amber-700 dark:focus:border-sky-700 focus:ring-0 focus:border-2"
                type="search" name="search" placeholder="Search">
                <button type="submit" class="absolute right-0 top-0 mt-3 mr-2">
                    <svg class="text-gray-600 dark:text-gray-50 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                        version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                        xml:space="preserve"
                        width="512px" height="512px">
                        <path
                        d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="flex justify-end">
            <a href="/signin" class="block text-md px-4 py-2 rounded dark:hover:bg-sky-700 text-amber-700 dark:text-gray-50 ml-2 font-bold hover:text-white mt-4 hover:bg-amber-700 lg:mt-0">Sign in</a>
            <a href="/register" class="block text-md px-4 py-2 rounded dark:hover:bg-sky-700 text-amber-700 dark:text-gray-50 ml-2 font-bold hover:text-white mt-4 hover:bg-amber-700 lg:mt-0">Register</a>
        </div>

    </nav>
</div>
{{end}}
